{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>Creer une sortie</h2>
{{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button type="submit">Enregistrer</button>
    <button>Publier la sortie</button>
    <button type="reset">Annuler</button>
    {{ form_end(sortieForm) }}
{% endblock %}