{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<h1>Sortir.com</h1>
    <p>ici on doit afficher le tableau des sorties devra afficher l'état en cours /ouvert/ fermé/ En création</p><br>
    <p>avec les champs suivant "Nom de la sortie/Date de la sortie/Clôture/inscrits.places/Etat/Inscrit/Organisateur/Actions</p>
    <h2>Date du jour</h2>
    <h2>Participant : </h2>

    <h3>Filtrer les sorties</h3>


{% endblock %}
