{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<h1>on est dans le home</h1>
    <p>ici on doit afficher le tableau des sorties devra afficher l'état en cours /ouvert/ fermé/ En création</p><br>
    <p>avec les champs suivant "Nom de la sortie/Date de la sortie/Clôture/inscrits.places/Etat/Inscrit/Organisateur/Actions</p>
{% endblock %}
