table, tr,th,td
{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 5px;
}
p,td,th,label,input,a{
    font-size: 1.2em;
}
#formLogin{
 min-height:75%
}
body,html
{
    height:100%;
}
#lienLogo{
    text-decoration: none;
    color: black;
}
#affichage p, #affichage span{
    padding: 6px 0 6px 0;
}
