table, tr,th,td
{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 5px;
}
p,td,th,label,input,a{
    font-size: 1.2em;
}
#formLogin{
 min-height:75%
}
body,html
{
    height:100%;
}
#lienLogo{
    text-decoration: none;
    color: black;
}
#affichage p, #affichage span{
    padding: 6px 0 6px 0;
}

.info-user {
    width: 345px;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {
    background: rgb(41,255,0);
    background: linear-gradient(0deg, rgba(41,255,0,1) 0%, rgba(199,255,189,0.2987570028011205) 100%);
    margin-left: 150px;
    margin-right: 950px;
}

.flash-error {
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,91,91,0.30155812324929976) 100%);
    margin-left: 150px;
    margin-right: 950px;
}