{% extends 'base.html.twig' %}

{% block title %}
Mon Profil
{% endblock %}

{% block body %}
<h1 class="text-center">Mon profil</h1>
    <div class="d-flex justify-content-center align-self-center ">

  {{ form_start(monProfilForm) }}
        {{ form_widget(monProfilForm) }}
    <button class="btn btn-primary btn-lg" type="submit" class="btn">Enregistrer</button>
    <button class="btn btn-primary btn-lg" type="reset" class="btn">Annuler</button>
    {{ form_end(monProfilForm) }}
    </div>
{% endblock %}



